body{
font-family: Arial, sans-serif;
margin: 20px;
background-color: #f5f9fc;
}
table {
width: 50%;
border-collapse: collapse;
margin-top: 15px;
}

h1{
color: #0b5394;
}

th{
background-color: #d9eaf7;
}

th, td {
border: 1px solid #999;
padding: 9px;}

button {
margin-right: 10px;
padding: 8px;}

.botao {
margin-top: 10px;
margin-right: 10px;}

.destacado {
background-color: #fff2cc;
}