<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Funcionarios</title>
</head>
<body>
<h1>Funcionarios do estacionamento</h1>
<hr>
<h3 th:text="${mensagem}"></h3>

<table>
    <tr>
        <th>Nome</th>
        <th>Data de Nascimento</th>
    </tr>

    <tr th:each="f:${lista}">
        <th th:text="${}"></th>
        <th th:text="${}"></th>
    </tr>
</table>
<h2>Novo Funcionario</h2>

<form action="/funcionarios" method="post">
    <input type="text" name="" placeholder="">
    <input type="date" name="" placeholder="">
    <button type="submit">Adicionar</button>
</form>
</body>
</html>