<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Gestao de Estacionamentos </title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<nav>
    <a href="/">Inicio</a>
    <a href="/veiculos">Veiculos</a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
</nav>
<h1>Gestao de Estacionamento</h1>
<p>Sistema de gestao de estacionamento</p>
<div class="cards">
    <a href="/veiculos" class="card">Gerir veiculos</a>
    <a href="/pagamentos" class="pagamentos"></a>
</div>

</body>
</html>