<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestao de Estacionamentos </title>
</head>
<body>
<nav>
    <a href="/">Inicio</a>
    <a href="/veiculos">Veiculos</a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
</nav>
<h1>Gestao de Estacionamento</h1>
<p>Sistema de gestao de estacionamento</p>
<div class="cards">
    <a href="/veiculos" class="card">Gerir veiculos</a>
    <a href="" class="card"></a>
    <a href="" class="card"></a>
</div>

</body>
</html>