<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Utilizadores</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<nav>
    <a href="/">Início</a>
    <a href="/veiculos">Veículos</a>
    <a href="/pagamentos">Pagamentos</a>
    <a href="/utilizadores">Utilizadores</a>
    <a href="/login">Login</a>
</nav>

<h1>Gestão de Utilizadores</h1>

<form th:action="@{/guardarUtilizador}"
      th:object="${utilizador}"
      method="post">

    <input type="text"
           th:field="*{username}"
           placeholder="Username" required>

    <input type="password"
           th:field="*{password}"
           placeholder="Password" required>

    <select th:field="*{perfil}">
        <option value="ADMIN">ADMIN</option>
        <option value="FUNCIONARIO">FUNCIONARIO</option>
        <option value="CLIENTE">CLIENTE</option>
    </select>

    <button type="submit">Guardar</button>

</form>

<table>

    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Perfil</th>
    </tr>

    <tr th:each="u : ${listaUtilizadores}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.username}"></td>
        <td th:text="${u.perfil}"></td>
    </tr>

</table>

</body>
</html>